[workspace]
resolver = "2"
members = [
    "cal",
    "lsp",
    "crates/interpreter",
    "crates/parser",
    "crates/cranelift",
    "crates/common", "fmt", "crates/mir", "crates/std", "crates/comptime", "crates/mir-ty", "crates/lir",
]
